.additionally {
  margin-bottom: 47px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 8px;
  }
}

.additionally__inner {
  display: flex;
  width: 1050px;
  margin: 0 auto;
  padding: 0 50px;

  @media (max-width: $tablet-max-width) {
    width: 87%;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    width: 81%;
    margin: 0 auto;
    padding: 0 9.5%;
  }
}

.additionally__title {
  width: 113px;
  padding-left: 62px;
  padding-top: 17px;

  @media (max-width: $tablet-max-width) {
    width: 25%;
    padding-left: 0;
    padding-top: 20px;
  }

  @media (max-width: $mobile-max-width) {
    width: 23%;
    margin-bottom: 23px;
    padding-right: 77%;
    padding-top: 0;
  }
}

.additionally__field {
  display: flex;
  flex-wrap: wrap;
  width: 875px;

  @media (max-width: $tablet-max-width) {
    width: 75%;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.additionally__text {
  width: 700px;
  min-height: 144px;
  padding-top: 15px;
  padding-left: 16px;
  box-sizing: border-box;

  border: 2px solid $dark;
  box-shadow: inset 0 -2px 0 $black;

  @media (max-width: $tablet-max-width) {
    width: 100%;
  }
}
