.additionally {
  margin-bottom: 47px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 52px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 10px;
  }
}

.additionally__field {
  display: flex;
  justify-content: space-between;
  width: 813px;
  margin: 0 auto;
  padding: 0 225px 0 112px;

  @media (max-width: $tablet-max-width) {
    width: 87%;
    padding: 0 50px;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    width: 81%;
    margin: 0 auto;
    padding: 0 9.5%;
  }
}

.additionally__label {
  width: 68px;
  margin-top: 20px;
  margin-bottom: 104px;

  @media (max-width: $mobile-max-width) {
    width: 23%;
    margin-top: 0;
    margin-bottom: 22px;
    padding-right: 77%;
    padding-top: 0;
  }
}

.additionally__text {
  width: 700px;
  min-height: 142px;

  @media (max-width: $tablet-max-width) {
    width: 75%;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}
