.button {
  display: inline-block;
  vertical-align: middle;

  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $dark;

  border: 2px solid $dark;
  cursor: pointer;

  @media (max-width: $mobile-max-width) {
    font-size: 18px;
  }
}

.button--knitted-baskets {
  width: 292px;
  padding: 16px 86px 13px 86px;
  box-sizing: border-box;

  @media (max-width: $mobile-max-width) {
    width: 260px;
    padding: 14px 70px 13px 70px;
  }
}

.button--contacts {
  width: 230px;
  padding: 16px 27px 13px 27px;
  box-sizing: border-box;

  @media (max-width: $mobile-max-width) {
    width: 260px;
    padding: 14px 37px 13px 37px;
  }
}

.button--feedback {
  width: 175px;
  padding: 16px 26px 13px 26px;
  box-sizing: border-box;

  @media (max-width: $mobile-max-width) {
    width: 260px;
    padding: 16px 65px 13px 65px;
  }
}

.button--modal-size {
  width: 350px;
  padding: 16px 113px 16px 112px;
  box-sizing: border-box;

  line-height: 20px;
  color: $white;

  border: none;
  background-color: $light-green;

  @media (max-width: $mobile-max-width) {
    width: 260px;
    padding: 16px 67px 16px 67px;
  }
}

.button--production-process {
  width: 230px;
  padding: 18px 31px 14px 29px;
  box-sizing: border-box;

  line-height: 16px;

  @media (max-width: $tablet-max-width) {
    width: 584px;
    padding: 16px 207px 14px 207px;
  }

  @media (max-width: $mobile-max-width) {
    width: 192px;
    padding: 18px 11px 14px 11px;
  }
}
