.color {
  margin-bottom: 46px;

  background-color: $grey-back-footer;

  @media (max-width: $mobile-max-width) {
    background-color: $white;
    margin-bottom: 1px;
  }
}

.color__inner {
  display: flex;

  width: 1050px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0 50px;
  padding-top: 52px;

  @media (max-width: $tablet-max-width) {
    width: 87%;
    margin-bottom: 12px;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    width: 81%;
    padding: 0 9.5%;
    margin: 0 auto;
  }
}

.color__title {
  width: 113px;
  padding-left: 62px;
  padding-top: 17px;

  @media (max-width: $tablet-max-width) {
    width: 25%;
    padding-left: 0;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    margin-bottom: 35px;
  }
}

.color__list {
  display: flex;
  flex-wrap: wrap;
  width: 875px;
  padding-top: 17px;

  @media (max-width: $tablet-max-width) {
    justify-content: space-between;
    width: 75%;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    margin-bottom: -20px;
    padding-top: 0;
  }
}

.color__item {
  width: 262px;
  margin-bottom: 57px;

  @media (max-width: $tablet-max-width) {
    width: 240px;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    margin-bottom: 43px;
  }
}

