.custome-name {
  margin-bottom: 26px;
}

.custome-name__inner {
  display: flex;

  width: 1050px;
  margin: 0 auto;
  padding: 0 50px;

  @media (max-width: $tablet-max-width) {
    width: 87%;
  }
}

.custome-name__title {
  width: 113px;
  padding-left: 62px;
  padding-top: 17px;

  @media (max-width: $tablet-max-width) {
    width: 25%;
    padding-left: 0;
  }
}

.custome-name__list {
  width: 875px;

  @media (max-width: $tablet-max-width) {
    width: 75%;
  }
}

.custome-name__item {
  display: flex;
  align-items: center;
  width: 700px;
  margin-bottom: 24px;

  @media (max-width: $tablet-max-width) {
    width: 100%;
  }
}

.custome-name__label {
  width: auto;
  margin-right: 26px;
}

.custome-name__input-text {
  width: 100%;
}
