.custome-name {
  margin-bottom: 26px;
}

.custome-name__inner {
  display: flex;

  width: 1050px;
  margin: 0 auto;
  padding: 0 50px;
}

.custome-name__title {
  width: 113px;
  padding-left: 62px;
  padding-top: 17px;
}

.custome-name__list {
  width: 875px;
}

.custome-name__item {
  display: flex;
  align-items: center;
  width: 700px;
  margin-bottom: 24px;
}

.custome-name__label {
  width: auto;
  margin-right: 26px;
}

.custome-name__input-text {
  width: 100%;
}
