.customer-contacts {
  margin-bottom: 52px;

  background-color: $grey-back-footer;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 36px;

    background-color: $white;
  }
}

.customer-contacts__list {
  width: 1050px;
  margin: 0 auto;

  padding: 0 50px;
  padding-top: 48px;
  padding-bottom: 28px;

  @media (max-width: $tablet-max-width) {
    width: 87%;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    width: 81%;
    padding: 0 9.5%;
    margin: 0 auto;
    margin-bottom: -35px;
  }
}


.customer-contacts__item {
  display: flex;
  width: 1050px;
  margin-bottom: 20px;

  @media (max-width: $tablet-max-width) {
    width: 100%;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    margin-bottom: 35px;
  }
}

.customer-contacts__label {
  width: 113px;
  padding-left: 62px;
  padding-top: 20px;

  @media (max-width: $tablet-max-width) {
    width: 25%;
    padding-left: 0;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding-top: 0;
    margin-bottom: 4px;
  }
}

.customer-contacts__wrapper-input-text {
  width: 680px;

  @media (max-width: $tablet-max-width) {
    width: 72%;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.customer-contacts__input-text {
  width: 100%;

  background-color: $grey-back-footer;

  @media (max-width: $mobile-max-width) {
    background-color: $white;
  }
}
