.custome-name {
  margin-bottom: 28px;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 12px;
  }
}

.custome-name__inner {
  display: flex;

  width: 1050px;
  margin: 0 auto;
  padding: 0 50px;

  @media (max-width: $tablet-max-width) {
    width: 87%;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    width: 81%;
    padding: 0 9.5%;
    margin: 0 auto;
  }
}

.custome-name__title {
  width: 113px;
  padding-left: 62px;
  padding-top: 21px;

  @media (max-width: $tablet-max-width) {
    width: 25%;
    padding-left: 0;
    padding-top: 20px;
    margin-bottom: 28px;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.custome-name__list {
  width: 875px;

  @media (max-width: $tablet-max-width) {
    width: 75%;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.custome-name__item {
  display: flex;
  align-items: center;
  width: 700px;
  margin-bottom: 20px;

  @media (max-width: $tablet-max-width) {
    width: 100%;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    margin-bottom: 23px;
  }
}

.custome-name__label {
  width: auto;
  margin-right: 26px;

  @media (max-width: $mobile-max-width) {
    width: 100%;
    margin-right: 0;
  }
}

.custome-name__input-text {
  width: 100%;
}
