.form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.form__designation {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $light-green;

  @media (max-width: $mobile-max-width) {
    position: relative;
  }
}

.form__designation::after {
  @media (max-width: $mobile-max-width) {
    position: absolute;
    bottom: 9px;
    right: 0;
    content: "";

    width: 77%;
    height: 1px;

    background-color: $light-green-border;
  }
}

.form__list {
  @include reset-style-list;
}

.form__label {
  display: block;

  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $black;

  cursor: pointer;

  @media (max-width: $mobile-max-width) {
    font-size: 17px;
  }
}

.form__label--customer-contacts-tel,
.form__label--customer-contacts-email,
.form__label--additionally {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $light-green;

  @media (max-width: $mobile-max-width) {
    position: relative;
  }
}

.form__label--customer-contacts-tel::after,
.form__label--additionally::after {
  @media (max-width: $mobile-max-width) {
    position: absolute;
    bottom: 9px;
    right: 0;
    content: "";

    width: 77%;
    height: 1px;

    background-color: $light-green-border;
  }
}


.form__label--customer-contacts-email::after {
  @media (max-width: $mobile-max-width) {
    position: absolute;
    bottom: 9px;
    right: 0;
    content: "";

    width: 70%;
    height: 1px;

    background-color: $light-green-border;
  }
}


//Чекбоксы, радиокнопки

.form__label--checkbox {
  position: relative;

  margin-left: 82px;

  cursor: pointer;

  @media (max-width: $mobile-max-width) {
    margin-left: 60px;
  }
}

.form__label--radio {
  position: relative;

  margin-left: 80px;

  cursor: pointer;

  @media (max-width: $mobile-max-width) {
    margin-left: 60px;
  }
}

.form__input--checkbox + .form__label--checkbox::before {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: -82px;
  content: "";

  width: 52px;
  height: 52px;
  box-sizing: border-box;

  border: 2px solid $dark;

  @media (max-width: $tablet-max-width) {
    top: 50%;
  }

  @media (max-width: $mobile-max-width) {
    width: 38px;
    height: 38px;
    left: -60px;
  }
}

.form__input--checkbox:checked + .form__label--checkbox::after {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: -72px;
  content: "";

  width: 32px;
  height: 22px;

  background-image: url("../img/back-icon-check.svg");
  background-repeat: no-repeat;

  @media (max-width: $mobile-max-width) {
    top: 50%;

    width: 24px;
    height: 17px;
    left: -50px;
    background-position: center -5px;
  }
}

.form__input--radio + .form__label--radio::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -78px;
  content: "";

  width: 50px;
  height: 50px;
  box-sizing: border-box;

  border: 2px solid $dark;
  border-radius: 50%;

  @media (max-width: $mobile-max-width) {
    top: 48%;

    width: 40px;
    height: 40px;
    left: -60px;
  }
}

.form__input--radio:checked + .form__label--radio::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -63px;
  content: "";

  width: 20px;
  height: 20px;
  background-color: $light-green-border;
  border-radius: 50%;

  @media (max-width: $mobile-max-width) {
    top: 48%;

    width: 16px;
    height: 16px;
    left: -48px;
  }
}

.form__input--checkbox:hover + .form__label--checkbox::before,
.form__input--radio:hover + .form__label--radio::before {
  border: 2px solid $light-green-border;
}

.form__input--checkbox:active + .form__label--checkbox::before,
.form__input--radio:active + .form__label--radio::before {
  border: 2px solid rgba($black, 0.3);
}


.form__input--checkbox:focus + .form__label--checkbox::before,
.form__input--radio:focus + .form__label--radio::before {
  border: 2px solid $grey-border-modal;
}

//Текстовые поля
.form__input-text {
  padding: 15px 0 15px 18px;
  box-sizing: border-box;

  font: inherit;
  font-weight: 400;
  font-size: 19px;
  line-height: 18px;
  color: $dark;

  border: none;
  box-shadow: inset 0 -2px 0 $black;

  @media (max-width: $mobile-max-width) {
    padding: 17px 0 16px 0;
    font-size: 17px;
  }
}

.form__input-text:hover {
  box-shadow: inset 0 -2px 0 $light-green-border;
}

.form__input-text:active {
  outline: none;
}

.form__input-text::placeholder {
  color: $black;
  opacity: 0.3;
}

//Текстовые поля с иконками
.form__wrapper-input-text {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);

  fill: $black;
  opacity: 0.2;

  @media (max-width: $tablet-max-width) {
    right: 22px;
  }

  @media (max-width: $mobile-max-width) {
    right: 4px;
  }
}

.form__icon--tel {
  width: 24px;
  height: 24px;
}

.form__icon--envelope {
  width: 32px;
  height: 21px;
}

.form__input-text:hover + .form__icon {
  fill: $light-green;
  opacity: 1;
}

.form__input-text:active + .form__icon {
  fill: $light-green;
  opacity: 1;
}

//Текстареа
.form__textarea {
  padding-top: 15px;
  padding-left: 16px;
  box-sizing: border-box;

  font: inherit;
  font-weight: 400;
  font-size: 19px;
  line-height: 18px;
  color: $dark;

  border: 2px solid $dark;

  resize: none;

  @media (max-width: $mobile-max-width) {
    font-size: 17px;
  }
}

.form__textarea::placeholder {
  color: $black;
  opacity: 0.3;
}

.form__textarea:hover {
  border: 2px solid $light-green-border;
}

.form__textarea:focus {
  outline: none;
  border: 2px solid $grey-border-modal;
}

.form__textarea:active {
  outline: none;
  border: 2px solid $light-green-border;
}

//Кнопка с примечанием
.form__wrapper-button-notice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  margin: 0 auto;
  padding: 0 225px;

  @media (max-width: $tablet-max-width) {
    width: 87%;
    padding: 0 50px;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    width: 81%;
    padding: 0 9.5%;
    margin: 0 auto;
  }
}

.form__notice {
  margin: 0;

  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: $dark;

  @media (max-width: $mobile-max-width) {
    width: 100%;
    order: 1;
    margin-bottom: 23px;

    font-size: 14px;
  }
}

.form__button {
  @media (max-width: $mobile-max-width) {
    order: 2;
  }
}
