.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1050px;
  margin: 0 auto;
  padding: 51px 50px 58px 50px;

  @media (max-width: $tablet-max-width) {
    width: 87%;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    width: 81%;
    padding: 0 9.5%;
  }
}

.page-footer__logo {
  width: 102px;

  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

.page-footer__logo-link[href] {
  cursor: pointer;
}

.page-footer__logo-link-image {
  width: 102px;
  height: 34px;
  fill: $black;
}

.page-footer__logo-link[href]:hover .page-footer__logo-link-image {
  fill: $dark-green;
}

.page-footer__logo-link[href]:active .page-footer__logo-link-image {
  opacity: 0.3;
}

.page-footer__copyright {
  width: 183px;
  padding-bottom: 5px;

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding: 22px 0 23px 0;
  }
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $black;

  cursor: pointer;

  @media (max-width: $mobile-max-width) {
    width: 183px;
    margin: 0 auto;
  }
}

.page-footer__copyright-link-text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.page-footer__copyright-link-image {
  width: 27px;
  height: 34px;
  fill: $light-green;
}

.page-footer__copyright-link:hover .page-footer__copyright-link-image {
  fill: $dark-green;
}

.page-footer__copyright-link:active .page-footer__copyright-link-image {
  opacity: 0.3;
}
