.social {
  width: 140px;

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding: 25px 0 23px 0;

    border-bottom: 1px solid $grey-border;
  }
}

.social__list {
  @include reset-style-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (max-width: $mobile-max-width) {
    width: 140px;
    margin: 0 auto;
  }
}

.social__link {
  cursor: pointer;
}

.social__link--instagram svg {
  width: 22px;
  height: 22px;
}

.social__link--facebook svg {
  width: 15px;
  height: 29px;
}

.social__link--twitter svg {
  width: 24px;
  height: 20px;
}

.social__link-image {
  fill: $black;
}

.social__link:hover .social__link-image {
  fill: $dark-green;
}

.social__link:active .social__link-image {
  opacity: 0.3;
}
