.type {
  margin-bottom: 66px;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 26px;
  }
}

.type__inner {
  display: flex;
  width: 1050px;
  margin: 0 auto;
  padding: 0 50px;

  @media (max-width: $tablet-max-width) {
    width: 87%;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    width: 81%;
    margin: 0 auto;
    padding: 0 9.5%;
  }
}

.type__title {
  width: 113px;
  padding-left: 62px;
  padding-top: 20px;

  @media (max-width: $tablet-max-width) {
    width: 25%;
    padding-left: 0;
  }

  @media (max-width: $mobile-max-width) {
    width: 23%;
    margin-bottom: 35px;
    padding-right: 77%;
  }
}

.type__list {
  width: 875px;
  padding-top: 17px;

  @media (max-width: $tablet-max-width) {
    width: 75%;
    padding-top: 16px;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding-top: 0;
  }
}

.type__item:not(:last-child) {
  margin-bottom: 58px;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 24px;
  }
}
