//Colors
$dark: #444444;
$black: #000000;
$grey-back:#f9f9f9;
$grey-back-footer:#f1f1f1;
$grey-border: #e5e5e5;
$grey-shadow:#ececec;
$white: #ffffff;
$light-green:#63d1bb;
$dark-green:#46c1ae;

// Viewports
$min-width: 320px;
$mobile-max-width: 767px;
$tablet-max-width: 1149px;
